html, body{
  background: black;
}
.jumbotron{
  border-radius: 50px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: maroon;
  text-align: center;
  font-family: 'Gabriela', serif;
  background: grey;

}

.namehead{
  font-size: 60px;
}
.center{
  color: tomato;
  text-align: right;
  font-size: 18px;
}
.contact-us{
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  background-image: url('../images/backgrnd.jpg');
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-form{
  color: black;
  background-color: rgb(120, 120, 120);
  font-size: 25px;
}

.content-form h1{
  color: maroon;
  font-family: 'Gabriela', serif;
}
.display-content{
  display: none;
  background-image: url('../images/background.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: yellow;
  font-size: 25px;
}
