html, body{
  background: black;
}
.jumbotron{
  border-radius: 50px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: maroon;
  text-align: center;
  font-family: 'Gabriela', serif;
  background: grey;

}

.namehead{
  font-size: 60px;
}
.center{
  color: tomato;
  text-align: right;
}
.contact-us{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-image: url('../images/pizzabackground.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  border: none;
  outline: none;
}
